create database NongPhamVN
go 

USE [NongPhamVN]
GO
/****** Object:  Table [dbo].[LoaiNS]    Script Date: 12/27/2017 11:05:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNS](
	[IDLoaiNS] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[HinhAnh] [nvarchar](350) NULL,
	[MotaNgan] [nvarchar](1024) NULL,
	[NguoiTao] [nvarchar](50) NOT NULL,
	[NgayTao] [date] NOT NULL,
	[NguoiCapNhat] [nvarchar](50) NULL,
	[NgayCapNhat] [date] NULL,
 CONSTRAINT [PK_LoaiNS] PRIMARY KEY CLUSTERED 
(
	[IDLoaiNS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 12/27/2017 11:05:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[TenDayDu] [nvarchar](50) NULL,
	[GioiTinh] [int] NULL,
	[Phone] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](550) NULL,
	[NguoiTao] [nvarchar](50) NOT NULL,
	[NgayTao] [date] NOT NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NongSan]    Script Date: 12/27/2017 11:05:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NongSan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenNS] [nvarchar](50) NOT NULL,
	[IDLoaiNS] [int] NOT NULL,
	[MoTaNgan] [nvarchar](550) NULL,
	[MotaChiTiet] [ntext] NULL,
	[NgayTao] [date] NOT NULL,
	[NguoiTao] [nvarchar](50) NOT NULL,
	[NgayCapNhat] [date] NULL,
	[NguoiCapNhat] [nvarchar](50) NULL,
	[HinhAnhDaiDien] [nvarchar](350) NULL,
 CONSTRAINT [PK_NongSan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 12/27/2017 11:05:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[IDTinTuc] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](250) NOT NULL,
	[MotaNgan] [nvarchar](550) NULL,
	[BaiVietChiTiet] [ntext] NULL,
	[UserID] [int] NOT NULL,
	[NgayTao] [date] NOT NULL,
	[NgayCapNhat] [date] NULL,
	[HinhAnhDaiDien] [nvarchar](350) NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[IDTinTuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[LoaiNS] ON 

INSERT [dbo].[LoaiNS] ([IDLoaiNS], [TenLoai], [HinhAnh], [MotaNgan], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat]) VALUES (2, N'Trái cây nhập Mỹ', N'/Mediasfiles/bdm1484638024.jpg', NULL, N'admin', CAST(N'2017-12-10' AS Date), N'admin', CAST(N'2017-12-17' AS Date))
INSERT [dbo].[LoaiNS] ([IDLoaiNS], [TenLoai], [HinhAnh], [MotaNgan], [NguoiTao], [NgayTao], [NguoiCapNhat], [NgayCapNhat]) VALUES (3, N'Trái cây trong nước', N'/Mediasfiles/img-0660.jpg', NULL, N'admin', CAST(N'2017-12-10' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[LoaiNS] OFF
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([UserID], [TaiKhoan], [MatKhau], [TenDayDu], [GioiTinh], [Phone], [DiaChi], [NguoiTao], [NgayTao]) VALUES (1, N'admin', N'admin123', N'Quản trị viên', 0, NULL, NULL, N'admin', CAST(N'2017-12-02' AS Date))
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
SET IDENTITY_INSERT [dbo].[NongSan] ON 

INSERT [dbo].[NongSan] ([ID], [TenNS], [IDLoaiNS], [MoTaNgan], [MotaChiTiet], [NgayTao], [NguoiTao], [NgayCapNhat], [NguoiCapNhat], [HinhAnhDaiDien]) VALUES (3, N'Dâu Tây Đà Lạt', 3, N'<p>&nbsp;</p>

<p>D&acirc;u t&acirc;y Đà Lạt n&ocirc;̉i ti&ecirc;́ng với đ&ocirc;̣ ngon, ngọt, đẹp hòa mình với ti&ecirc;́t trời se lạnh của nơi đ&acirc;y. Kh&ocirc;ng gì có th&ecirc;̉ sánh bằng vi&ecirc;̣c thưởng thức quả d&acirc;u t&acirc;y trong khung cảnh mờ sương...</p>
', NULL, CAST(N'2017-12-20' AS Date), N'admin', NULL, NULL, N'/Mediasfiles/DauTayDaLat1.jpg')
SET IDENTITY_INSERT [dbo].[NongSan] OFF
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

SET IDENTITY_INSERT [dbo].[TinTuc] OFF
ALTER TABLE [dbo].[NongSan]  WITH CHECK ADD  CONSTRAINT [FK_NongSan_LoaiNS] FOREIGN KEY([IDLoaiNS])
REFERENCES [dbo].[LoaiNS] ([IDLoaiNS])
GO
ALTER TABLE [dbo].[NongSan] CHECK CONSTRAINT [FK_NongSan_LoaiNS]
GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_TinTuc_NguoiDung] FOREIGN KEY([UserID])
REFERENCES [dbo].[NguoiDung] ([UserID])
GO
ALTER TABLE [dbo].[TinTuc] CHECK CONSTRAINT [FK_TinTuc_NguoiDung]
GO
